@using BankSystem.Web.ViewModels;
@model HelpVM;
@{
    Layout = "_Layout1";
}




<!-- banner-section start -->
<section class="banner-section inner-pages help-center info">
    <div class="overlay">
        <div class="banner-content pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <div class="main-content">
                            <h1>Help Center</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                                        <li class="breadcrumb-item"><a href="/Helps/Index">Help Center</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Help Page</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-bottom-area pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-area">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <h2 class="text-uppercase">
                                    @Model.Name
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- Create Account In start -->
<section class="create-account">
    <div class="overlay pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="top-wrapper">
                        <h3>@Model.Description</h3>
                        <p>@Model.Content</p>
                        <div class="like-dislike d-flex align-items-center">
                            <a href="javascript:void(0)"><img class="border-area" src="~/bank/assets/img/like.png" alt="image"></a>
                            <a href="javascript:void(0)"><img src="~/bank/assets/img/dislike.png" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Create Account In end -->
<!-- Need to Contact Us In start -->
<section class="need-to-contact">
    <div class="overlay pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header text-center">
                        <h2 class="title">Need to Contact Us?</h2>
                        <p>Our customer service hours 10:00 a.m. EST - 8 p.m. EST</p>
                        <a href="/Contacts/Index" class="cmn-btn">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>