@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["Active7"] = "active";
}
@*
<div class="text-center w-md-75 w-lg-50 mx-auto my-4">
    <h2>@ViewData["Title"]</h2>
    <form method="post">
        <hr/>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.OldPassword"></label>
            <input asp-for="Input.OldPassword" class="form-control"/>
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.NewPassword"></label>
            <input asp-for="Input.NewPassword" class="form-control"/>
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control"/>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <a class="btn btn-outline-secondary" asp-page="./Index">
            <i class="fas fa-chevron-left"></i>
            Cancel
        </a>
        <button type="submit" class="btn btn-primary">Change password</button>
    </form>
</div>
*@






























<section class="dashboard-section body-collapse account">
    <div class="overlay pt-120">
        <div class="container-fruid">
            <div class="main-content">
                <div class="row">
                   
                    <div class="col-xxl-12 col-xl-12">
                        <div class="tab-main">
                            <div class="tab-content mt-40">
                                <div class="tab-pane active" role="tabpanel">
                                    <div class="change-pass mb-40">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h5>Change Password</h5>
                                                <p>You can always change your password for security reasons or reset your password in case you forgot it.</p>
                                            </div>
                                            <div class="col-sm-12">
                                                <form method="post">
                                                    <div class="row justify-content-center">
                                                        <div class="col-md-12">
                                                            <div class="single-input">
                                                                <label asp-for="Input.OldPassword"></label>
                                                                <input asp-for="Input.OldPassword" id="current-password" placeholder="Current password">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="single-input">
                                                                <label asp-for="Input.NewPassword"></label>
                                                                <input asp-for="Input.NewPassword" id="new-password" placeholder="New password">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="single-input">
                                                                <label asp-for="Input.ConfirmPassword">Confirm New password</label>
                                                                <input asp-for="Input.ConfirmPassword" id="confirm-password" placeholder="Confirm New password">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="single-input">
                                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="btn-border w-100">
                                                                <button type="submit" class="cmn-btn w-100">Update password</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





@section CustomCss{
    <style>
        a {
            background: none;
            border: none !important;
            padding: 0px !important;
        }
        span{
            background:none !important;
            border: none !important;
        }

        li {
            color: #DC3545 !important;
        }
    </style>


}