@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication";
    ViewData["Active7"] = "active";
}
@*
<div class="text-center w-md-75 w-lg-50 mx-auto my-4">
    <h2>@ViewData["Title"]</h2>
    <p>
        To disable two-factor authentication, please enter the verification code
        from your authenticator app and your password
    </p>
    <hr/>
    <form method="post" class="form-group">
        <div class="form-group">
            <label asp-for="Input.Code"></label>
            <input asp-for="Input.Code" class="form-control"/>
            <span asp-validation-for="Input.Code" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control"/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <a class="btn btn-outline-primary" asp-page="./Index">
            <i class="fas fa-chevron-left"></i>
            Cancel
        </a>
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>




*@













<section class="dashboard-section body-collapse account">
    <div class="overlay pt-120">
        <div class="container-fruid">
            <div class="main-content">
                <div class="row">

                    <div class="col-xxl-12 col-xl-12">
                        <div class="tab-main">
                            <div class="tab-content mt-40">
                                <div class="tab-pane active" role="tabpanel">
                                    <div class="change-pass mb-40">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5>Disable Two-Factor</h5>
                                                <p>
                                                    To disable two-factor authentication, please enter the verification code
                                                    from your authenticator app and your password
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <form method="post">
                                                    <div class="row justify-content-center">
                                                        
                                                        <div class="col-md-12">
                                                            <div class="single-input">
                                                                <label asp-for="Input.Code"></label>
                                                                <input asp-for="Input.Code" placeholder="Verification Code">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="single-input">
                                                                <label asp-for="Input.Password"></label>
                                                                <input asp-for="Input.Password" placeholder="Password">
                                                               
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="single-input">
                                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                            </div>
                                                        </div>
                                                       
                                                        <div class="col-md-12">
                                                            <div class="btn-border w-100">
                                                                <button type="submit" class="cmn-btn w-100">Update password</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





@section CustomCss{
    <style>
        a {
            background: none;
            border: none !important;
            padding: 0px !important;
        }

        span {
            background: none !important;
            border: none !important;
        }

        body{
            overflow:hidden;
        }
        li{
            color:#DC3545 !important;
        }
    </style>


}