@using BankSystem.Web.ViewModels;
@{
    Layout = "_Layout1";
}
@model ContactMessageVM

@section CustomCss{
    <style>
         .contact-form .form-area .single-input{
        margin-bottom:0px;
    }

        .form-area .col-6{
            margin-top:15px;
        }

        span{
            margin-top:15px;
        }
    </style>
   
}
@{
    var isTrue = ViewBag.Success1;
}

<section class="banner-section inner-pages contact">
    <div class="overlay">
        <div class="banner-content pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-10">
                        <div class="main-content">
                            <h1>Contact</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-bottom-area pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 cus-z">
                    <div class="row cus-mar">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-item text-center">
                                <div class="top-area">
                                    <div class="icon-area">
                                        <img src="~/bank/assets/img/contact-banner-icon-1.png" alt="image">
                                    </div>
                                    <h4 class="text-uppercase">Personal</h4>
                                    <p>Money Transfer</p>
                                </div>
                                <div class="bottom-area d-flex align-items-center">
                                    <div class="icon-bottom">
                                        <img src="~/bank/assets/img/sms-icon.png" alt="image">
                                    </div>
                                    <p><a href="https://pixner.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b7ded9d1d8f7e7d6cedbded899d4d8da">[email&#160;protected]</a></p>
                                </div>
                                <div class="bottom-area d-flex align-items-center">
                                    <div class="icon-bottom">
                                        <img src="~/bank/assets/img/call-icon.png" alt="image">
                                    </div>
                                    <p>(455) 254 - 653</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-item text-center">
                                <div class="top-area">
                                    <div class="icon-area">
                                        <img src="~/bank/assets/img/contact-banner-icon-2.png" alt="image">
                                    </div>
                                    <h4 class="text-uppercase">Business</h4>
                                    <p>International Payments</p>
                                </div>
                                <div class="bottom-area d-flex align-items-center">
                                    <div class="icon-bottom">
                                        <img src="~/bank/assets/img/sms-icon.png" alt="image">
                                    </div>
                                    <p><a href="https://pixner.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e0898e868fa0b081998c898fce838f8d">[email&#160;protected]</a></p>
                                </div>
                                <div class="bottom-area d-flex align-items-center">
                                    <div class="icon-bottom">
                                        <img src="~/bank/assets/img/call-icon.png" alt="image">
                                    </div>
                                    <p>(455) 254 - 653</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-item text-center">
                                <div class="top-area">
                                    <div class="icon-area">
                                        <img src="~/bank/assets/img/contact-banner-icon-3.png" alt="image">
                                    </div>
                                    <h4 class="text-uppercase">Chat with us</h4>
                                    <p>Money Transfer</p>
                                </div>
                                <div class="bottom-area offline">
                                    <h6>Monday – Saturday (9am to 5pm)</h6>
                                    <p>Currently Offline</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- Contact Form In start -->
<section class="contact-form">
    <div class="overlay pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-header text-center">
                        <h2 class="title">Get in touch with us for more information</h2>
                        <p>If you need help or have a question, we’re here for you</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="form-area">
                        <form asp-action="Send">
                            <div class="row">
                                <div class="col-6">
                                    <div class="single-input d-flex align-items-center">
                                        <input asp-for="Name" placeholder="Name">
                                        <img src="~/bank/assets/img/contact-user-icon.png" alt="image">
                                    </div>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <div class="single-input d-flex align-items-center">
                                        <input asp-for="Email" placeholder="Email">
                                        <img src="~/bank/assets/img/contact-email-icon.png" alt="image">
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="single-input d-flex align-items-center">
                                        <input asp-for="Phone" placeholder="Phone">
                                        <img src="~/bank/assets/img/contact-phone-icon.png" alt="image">
                                    </div>
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                               
                                <div class="col-6">
                                    <div class="single-input d-flex align-items-center">
                                        <input asp-for ="Company" placeholder="Company">
                                        <img src="~/bank/assets/img/contact-com-icon.png" alt="image">
                                    </div>
                                    <span asp-validation-for="Company" class="text-danger"></span>
                                </div>
                                
                            </div>
                            <div class="single-input d-flex align-items-center" style=" margin-top:15px;">
                                <input asp-for="MessageTitle" placeholder="How can we help you?">
                            </div>
                            <span asp-validation-for="MessageTitle" class="text-danger"></span>
                            <div class="single-input d-flex align-items-center" style=" margin-top:15px;">
                                <textarea asp-for="MessageBody" placeholder="What’s your message?" cols="30" rows="10"></textarea> 
                            </div>
                            <span asp-validation-for="MessageBody" class="text-danger" style=" margin-top:15px;"></span>
                            <div class="btn-area text-center">
                                <button type="submit" class="cmn-btn">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form In end -->
@section JS
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">

        @if (isTrue == "true1")
        {
            <text>
                toastr.success('Müraciətiniz qəbul olundu');
            </text>
        }
    </script>

}
