<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from pixner.net/paylio/paylio-v2/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Jul 2023 05:12:00 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paylio - Money Transfer and Online Payments HTML Template</title>

    <link rel="shortcut icon" href="~/bank/assets/img/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="~/bank/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/bank/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/bank/assets/css/plugin/nice-select.css">
    <link rel="stylesheet" href="~/bank/assets/css/plugin/slick.css">
    <link rel="stylesheet" href="~/bank/assets/css/custom-family.css">
    <link rel="stylesheet" href="~/bank/assets/css/plugin/magnific-popup.css">
    <link rel="stylesheet" href="~/bank/assets/css/plugin/animate.css">
    <link rel="stylesheet" href="~/bank/assets/css/style.css">
    @RenderSection("CustomCss", false)
</head>

<body>
    <!-- start preloader -->
    <div class="preloader" id="preloader"></div>
    <!-- end preloader -->
    <!-- Scroll To Top Start-->
    <a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
    <!-- Scroll To Top End -->
    <!-- header-section start -->
    <header class="header-section">
        <div class="overlay">
            <div class="container">
                <div class="row d-flex header-area">
                    <nav class="navbar d-flex navbar-expand-lg navbar-dark">
                        <a class="navbar-brand" href="/Home/Index">
                            <img src="~/bank/assets/img/logo.png" class="logo" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Blogs/Index">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Careers/Index">Career</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Contacts/Index">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Helps/Index">Help</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/About/Index">About Us</a>
                                </li>
                            </ul>
                            <div class="right-area header-action d-flex align-items-center">
                                <a class="cmn-btn login" asp-page="/Account/Login">Login</a>
                                <a class="cmn-btn" asp-page="/Account/Register">Sign up</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderSection("UnderNavbar", false)
    @RenderBody()

    <footer class="footer-section">
        <div class="overlay pt-120 pb-120">
            <div class="container">
                <div class="row wrapper">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-area">
                            <h5>COMPANY</h5>
                            <ul class="items">
                                <li><a href="/About/Index">About Us</a></li>
                                <li><a href="/Contacts/Index">Contact Us</a></li>
                                <li><a href="/Blogs/Index">Blogs</a></li>
                                <li><a href="/Careers/Index">Careers</a></li>
                                <li><a href="reviews.html">Customer Reviews</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-area">
                            <h5>Solutions</h5>
                            <ul class="items">
                                <li><a asp-page="/Account/Login">Transfer Money Abroad</a></li>
                                <li><a asp-page="/Account/Login">Receive Money</a></li>
                                <li><a href="/About/Privacy">Privacy Policy</a></li>
                                <li><a asp-page="/Account/Login">Rate Alerts</a></li>
                                <li><a asp-page="/Account/Login">Payment for Shopping</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="single-area">
                            <h5>Support</h5>
                            <ul class="items">
                                <li><a href="/Helps/Index">Help centre</a></li>
                                <li><a asp-page="/Account/Login">Your account</a></li>
                                <li><a asp-page="/Account/Register">Sign Now</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-area">
                            <h5>Subscribe to our news</h5>
                            <p>Get the latest happenings and tips from Paylio</p>
                            <div class="social">
                                <ul class="d-flex">
                                    <li><a href="javascript:void(0)"><img src="~/bank/assets/img/facebook.png" alt="icon"></a></li>
                                    <li><a href="javascript:void(0)"><img src="~/bank/assets/img/twitter.png" alt="icon"></a></li>
                                    <li><a href="javascript:void(0)"><img src="~/bank/assets/img/instagram.png" alt="icon"></a></li>
                                    <li><a href="javascript:void(0)"><img src="~/bank/assets/img/linkedin.png" alt="icon"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <script src="~/bank/assets/js/jquery.min.js"></script>
    <script src="~/bank/assets/js/proper-min.js"></script>
    <script src="~/bank/assets/js/bootstrap.min.js"></script>
    <script src="~/bank/assets/js/fontawesome.js"></script>
    <script src="~/bank/assets/js/plugin/slick.js"></script>
    <script src="~/bank/assets/js/plugin/jquery.magnific-popup.min.js"></script>
    <script src="~/bank/assets/js/plugin/jquery.nice-select.min.js"></script>
    <script src="~/bank/assets/js/plugin/wow.min.js"></script>
    <script src="~/bank/assets/js/plugin/plugin.js"></script>
    <script src="~/bank/assets/js/main.js"></script>
</body>


<!-- Mirrored from pixner.net/paylio/paylio-v2/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Jul 2023 05:12:25 GMT -->
</html>