@model CardCreateViewModel

@{
    ViewData["Title"] = "Create card";
    ViewData["Active2"] = "active";
}

@*
<div class="mx-auto my-4 text-center w-lg-50 w-md-75">
    <h2>@ViewData["Title"]</h2>
    <form method="post">
        <hr class="w-75" />
        <div class="form-group">
            <label asp-for="AccountId">
            </label>
            <select class="custom-select" asp-for="AccountId" asp-items="Model.BankAccounts"></select>
            <span asp-validation-for="AccountId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a asp-action="Create" asp-controller="Cards" class="btn btn-outline-secondary">Cancel</a>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
</div>


*@




<section class="dashboard-section body-collapse pay step">
    <div class="overlay pt-120">
        <div class="container-fruid">
            <div class="main-content">
                <div class="head-area d-flex align-items-center justify-content-between">
                    <h4>Create Card</h4>
                    <div class="icon-area">
                        <img src="~/user/assets/images/icon/support-icon.png" alt="icon">
                    </div>
                </div>
                <div class="choose-recipient">
                    <div class="recipient-list">
                        <form method="post">
                            <div style="margin-bottom:75px;">
                                <label style="margin-bottom:10px;" asp-for="AccountId">
                                </label>
                                <select style="width:100%" class="custom-select" asp-for="AccountId" asp-items="Model.BankAccounts"></select>
                                <span asp-validation-for="AccountId" class="text-danger"></span>
                            </div>
                            <button type="submit" data-bs-toggle="modal" data-bs-target="#recipientsMod">
                                <span class="icon-area">
                                    <i class="icon-e-plus"></i>
                                </span>
                                <span>Create New Card</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



















<section class="dashboard-section body-collapse pay step">
    <div class="overlay pt-120">
        <div class="container-fruid">
            <div class="main-content">
                <div class="head-area d-flex align-items-center justify-content-between">
                    <h4>Create Card</h4>
                    <div class="icon-area">
                        <img src="~/user/assets/images/icon/support-icon.png" alt="icon">
                    </div>
                </div>
                <div class="choose-recipient">
                    <div class="recipient-list">
                        <form method="post">
                            <div style="margin-bottom:75px;">
                                <label style="margin-bottom:10px;" asp-for="AccountId">
                                </label>
                                <select style="width:100%" class="custom-select" asp-for="AccountId" asp-items="Model.BankAccounts"></select>
                                <span asp-validation-for="AccountId" class="text-danger"></span>
                            </div>
                            <button type="submit" data-bs-toggle="modal" data-bs-target="#recipientsMod">
                                <span class="icon-area">
                                    <i class="icon-e-plus"></i>
                                </span>
                                <span>Create New Card</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






@section CustomCss{
    <style>
        .custom-select{
            width:100%;
        }

        .nice-select::after {
            content:'';
            display:none;
        }
    </style>
}