@using BankSystem.Web.ViewModels;
@{
    Layout = "_Layout1";
}
@model List<JobVM>


<!-- banner-section start -->
<section class="banner-section inner-pages careers">
    <div class="overlay">
        <div class="banner-content pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <div class="main-content">
                            <h1>Careers</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Careers</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-bottom-area pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-area">
                        <img src="~/bank/assets/img/careers-banner-bg.png" alt="image">
                        <h2 class="title">Be a part of the Paylio family</h2>
                        <p>
                            We are constantly looking for passionate individuals who share our values and want to
                            simplify finance.
                        </p>
                        <a href="#open-positions" class="cmn-btn">See our jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- Benefits In start -->
<section class="benefit-section">
    <div class="overlay pt-120 cus-pad">
        <div class="container">
            <div class="main-content">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-9">
                        <div class="section-header text-center">
                            <h2 class="title">We have cool benefits to support you</h2>
                            <p>
                                We’re all working together to open up the law for everyone, making legal services
                                easy and affordable.
                                It’s more than a desk job, and more fun too. Join us.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="top-wrapper">
                    <div class="row wrapper">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-item text-center">
                                <div class="icon">
                                    <img src="~/bank/assets/img/benefit-icon-1.png" alt="icon">
                                </div>
                                <h6>Private healthcare</h6>
                                <p>
                                    A high-quality Vitality plan, with rewards that are geared towards a healthier
                                    lifestyle.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-item text-center">
                                <div class="icon">
                                    <img src="~/bank/assets/img/benefit-icon-2.png" alt="icon">
                                </div>
                                <h6>Private healthcare</h6>
                                <p>
                                    A high-quality Vitality plan, with rewards that are geared towards a healthier
                                    lifestyle.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-item text-center">
                                <div class="icon">
                                    <img src="~/bank/assets/img/benefit-icon-3.png" alt="icon">
                                </div>
                                <h6>Private healthcare</h6>
                                <p>
                                    A high-quality Vitality plan, with rewards that are geared towards a healthier
                                    lifestyle.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-item text-center">
                                <div class="icon">
                                    <img src="~/bank/assets/img/benefit-icon-4.png" alt="icon">
                                </div>
                                <h6>Private healthcare</h6>
                                <p>
                                    A high-quality Vitality plan, with rewards that are geared towards a healthier
                                    lifestyle.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-item text-center">
                                <div class="icon">
                                    <img src="~/bank/assets/img/benefit-icon-5.png" alt="icon">
                                </div>
                                <h6>Private healthcare</h6>
                                <p>
                                    A high-quality Vitality plan, with rewards that are geared towards a healthier
                                    lifestyle.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-item text-center">
                                <div class="icon">
                                    <img src="~/bank/assets/img/benefit-icon-6.png" alt="icon">
                                </div>
                                <h6>Private healthcare</h6>
                                <p>
                                    A high-quality Vitality plan, with rewards that are geared towards a healthier
                                    lifestyle.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Benefits In end -->
<!-- Testimonials In start -->
<section class="testimonials-careers">
    <div class="overlay pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="img-area">
                        <img src="~/bank/assets/img/testimonials-left.png" alt="image">
                        <div class="title-area">
                            <h5>Dan Ballard</h5>
                            <p>Head of Marketing</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="section">
                        <h5>TESTIMONIALS</h5>
                        <h4>“Working for Paylio has been nothing short of an incredible experience”</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit eque dolor ipsum odio justo amet,
                            urna, auctor dolor ist amenor.
                        </p>
                        <a href="#open-positions" class="cmn-btn">Open positions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials In end -->
<!-- Open Positions In start -->
<section class="open-positions" id="open-positions">
    <div class="overlay pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-6">
                    <div class="title-area">
                        <h2 class="text-uppercase">Open positions</h2>
                    </div>
                </div>
                <div class="col-xl-6 d-flex justify-content-start justify-content-xl-end">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all"
                                    type="button" role="tab" aria-controls="all" aria-selected="true">
                                all
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="design-tab" data-bs-toggle="tab" data-bs-target="#design"
                                    type="button" role="tab" aria-controls="design"
                                    aria-selected="false">
                                design
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="development-tab" data-bs-toggle="tab"
                                    data-bs-target="#development" type="button" role="tab" aria-controls="development"
                                    aria-selected="false">
                                development
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="business-tab" data-bs-toggle="tab"
                                    data-bs-target="#business" type="button" role="tab" aria-controls="business"
                                    aria-selected="false">
                                business
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-6">
                                    <div class="single-item">
                                        <h5>@item.JobName</h5>
                                        <P class="xlr">Experience: 6-9 Years</P>
                                        <div class="bottom-area d-flex justify-content-between">
                                            <div class="left-bottom d-flex align-items-center">
                                                <span>
                                                    <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                                    @item.JobTime
                                                </span>
                                                <span class="date">April 7, 2021</span>
                                            </div>
                                            <div class="right-bottom">
                                                <a href="/Careers/Position/@item.Id">Explore more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                          
                            <div class="col-lg-6">
                                <div class="single-item">
                                    <h5>Technical Success Lead Consultant</h5>
                                    <P class="xlr">Experience: 5 - 7 Years</P>
                                    <div class="bottom-area d-flex justify-content-between">
                                        <div class="left-bottom d-flex align-items-center">
                                            <span>
                                                <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                                Full Time
                                            </span>
                                            <span class="date">May 17, 2021</span>
                                        </div>
                                        <div class="right-bottom">
                                            <a href="open-positions.html">Explore more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-item">
                                    <h5>Digital Marketing Lead</h5>
                                    <P class="xlr">Experience: 6 - 9 Years</P>
                                    <div class="bottom-area d-flex justify-content-between">
                                        <div class="left-bottom d-flex align-items-center">
                                            <span>
                                                <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                                Full Time
                                            </span>
                                            <span class="date">February 15, 2021</span>
                                        </div>
                                        <div class="right-bottom">
                                            <a href="open-positions.html">Explore more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-item">
                                    <h5>Fresh Graduates – DevOps Engineer</h5>
                                    <P class="xlr">Experience: 7 - 8 Years</P>
                                    <div class="bottom-area d-flex justify-content-between">
                                        <div class="left-bottom d-flex align-items-center">
                                            <span>
                                                <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                                Full Time
                                            </span>
                                            <span class="date">June 12, 2021</span>
                                        </div>
                                        <div class="right-bottom">
                                            <a href="open-positions.html">Explore more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-item">
                                    <h5>UI/UX and Product Designer</h5>
                                    <P class="xlr">Experience: 5 - 7 Years</P>
                                    <div class="bottom-area d-flex justify-content-between">
                                        <div class="left-bottom d-flex align-items-center">
                                            <span>
                                                <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                                Full Time
                                            </span>
                                            <span class="date">July 11, 2021</span>
                                        </div>
                                        <div class="right-bottom">
                                            <a href="open-positions.html">Explore more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-item">
                                    <h5>Finance Analyst</h5>
                                    <P class="xlr">Experience: 7 - 9 Years</P>
                                    <div class="bottom-area d-flex justify-content-between">
                                        <div class="left-bottom d-flex align-items-center">
                                            <span>
                                                <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                                Full Time
                                            </span>
                                            <span class="date">March 9, 2021</span>
                                        </div>
                                        <div class="right-bottom">
                                            <a href="open-positions.html">Explore more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="design" role="tabpanel" aria-labelledby="design-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-item">
                                    <h5>UI/UX and Product Designer</h5>
                                    <P class="xlr">Experience: 5 - 7 Years</P>
                                    <div class="bottom-area d-flex justify-content-between">
                                        <div class="left-bottom d-flex align-items-center">
                                            <span>
                                                <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                                Full Time
                                            </span>
                                            <span class="date">July 11, 2021</span>
                                        </div>
                                        <div class="right-bottom">
                                            <a href="open-positions.html">Explore more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="development" role="tabpanel" aria-labelledby="development-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-item">
                                    <h5>Junior Frontend Developer</h5>
                                    <P class="xlr">Experience: 6 - 9 Years</P>
                                    <div class="bottom-area d-flex justify-content-between">
                                        <div class="left-bottom d-flex align-items-center">
                                            <span>
                                                <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                                Full Time
                                            </span>
                                            <span class="date">April 7, 2021</span>
                                        </div>
                                        <div class="right-bottom">
                                            <a href="open-positions.html">Explore more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-item">
                                    <h5>Fresh Graduates – DevOps Engineer</h5>
                                    <P class="xlr">Experience: 7 - 8 Years</P>
                                    <div class="bottom-area d-flex justify-content-between">
                                        <div class="left-bottom d-flex align-items-center">
                                            <span>
                                                <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                                Full Time
                                            </span>
                                            <span class="date">June 12, 2021</span>
                                        </div>
                                        <div class="right-bottom">
                                            <a href="open-positions.html">Explore more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-item">
                                    <h5>Technical Success Lead Consultant</h5>
                                    <P class="xlr">Experience: 5 - 7 Years</P>
                                    <div class="bottom-area d-flex justify-content-between">
                                        <div class="left-bottom d-flex align-items-center">
                                            <span>
                                                <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                                Full Time
                                            </span>
                                            <span class="date">May 17, 2021</span>
                                        </div>
                                        <div class="right-bottom">
                                            <a href="open-positions.html">Explore more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-item">
                                    <h5>Digital Marketing Lead</h5>
                                    <P class="xlr">Experience: 6 - 9 Years</P>
                                    <div class="bottom-area d-flex justify-content-between">
                                        <div class="left-bottom d-flex align-items-center">
                                            <span>
                                                <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                                Full Time
                                            </span>
                                            <span class="date">February 15, 2021</span>
                                        </div>
                                        <div class="right-bottom">
                                            <a href="open-positions.html">Explore more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-item">
                                    <h5>Finance Analyst</h5>
                                    <P class="xlr">Experience: 7 - 9 Years</P>
                                    <div class="bottom-area d-flex justify-content-between">
                                        <div class="left-bottom d-flex align-items-center">
                                            <span>
                                                <img src="~/bank/assets/img/clock-icon.png" alt="image">
                                                Full Time
                                            </span>
                                            <span class="date">March 9, 2021</span>
                                        </div>
                                        <div class="right-bottom">
                                            <a href="open-positions.html">Explore more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Open Positions In end -->
<!-- Send Resume In start -->
<section class="send-resume">
    <div class="overlay pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 d-flex">
                    <div class="section-header text-center">
                        <h2>We are looking for passionate peopleto join us! Is that you?</h2>
                        <p>
                            We’re all working together to open up the law for everyone, making legal services easy
                            and affordable.
                        </p>
                        <button type="button" class="cmn-btn" data-bs-toggle="modal" data-bs-target="#sendresume">
                            Send Resume
                        </button>
                        <div class="modal fade" id="sendresume" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="apply-now">
                                            <div class="overlay">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="main-content">
                                                                <h2>Apply for Digital Marketing Lead</h2>
                                                                <form class="form">
                                                                    <div class="row top-area">
                                                                        <div class="col-sm-6">
                                                                            <div class=" single-input d-flex align-items-center">
                                                                                <div class="input-control">
                                                                                    <input type="number" class="input-field" placeholder="Name">
                                                                                    <label class="input-label">Name</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class=" single-input d-flex align-items-center">
                                                                                <div class="input-control">
                                                                                    <input type="number" class="input-field" placeholder="Mobile number">
                                                                                    <label class="input-label">Mobile number</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class=" single-input d-flex align-items-center">
                                                                                <div class="input-control">
                                                                                    <input type="number" class="input-field" placeholder="Email Address">
                                                                                    <label class="input-label">Email Address</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class=" single-input d-flex align-items-center">
                                                                                <div class="input-control">
                                                                                    <input type="number" class="input-field" placeholder="Linkedin Profile">
                                                                                    <label class="input-label">Linkedin Profile</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="upload-req">
                                                                        <label for="attach"><span class="smr">Attach Resume</span></label>
                                                                        <input type="file" id="attach">
                                                                        <span class="smr">You can attach files of size up to 5 MB</span>
                                                                    </div>
                                                                    <button class="cmn-btn">Get started</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>