@using Application.JobItems.Commands.Request;
@model CreateJobCommandRequest

@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobName" class="control-label"></label>
                <input asp-for="JobName" class="form-control" />
                <span asp-validation-for="JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDescription" class="control-label"></label>
                <input asp-for="JobDescription" class="form-control" />
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTime" class="control-label"></label>
                <input asp-for="JobTime" class="form-control" />
                <span asp-validation-for="JobTime" class="text-danger"></span>
            </div>

            <h3>Job Requirements</h3>
          
             
            @if (Model != null)
            {
                @for (int i = 0; i < Model.JobRequirementList.Count; i++)
                {
                    <div>
                        <input type="text" name="JobRequirementList[@i]" value="@Model.JobRequirementList[i].Name" />
                        <button type="button" onclick="removeRequirement(@i)">Remove</button>
                    </div>
                }
            }
            <div id="requirements-container"></div>
            <button type="button" onclick="addRequirement()">Add Requirement</button>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

*@


















<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Create Blog</h4>
                <div>
                    <a asp-action="Index">Back to List ></a>
                </div>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form asp-action="Create" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="mb-3 col-md-12">
                                <label asp-for="JobName" class="form-label">Name</label>
                                <input asp-for="JobName" type="text" class="form-control">
                                <span asp-validation-for="JobName" class="text-danger"></span>
                            </div>
                            <div class="mb-3 col-md-12">
                                <label asp-for="JobTitle" class="form-label">Title</label>
                                <select asp-for="JobTitle" class="form-control">
                                    <option value="all">All</option>
                                    <option value="design">Design</option>
                                    <option value="development">Development</option>
                                    <option value="business">Business</option>
                                </select>
                                <span asp-validation-for="JobTitle" class="text-danger"></span>
                            </div>
                            <div class="mb-3 col-md-12">
                                <label asp-for="JobDescription" class="form-label">Description</label>
                                <input asp-for="JobDescription" class="form-control">
                                <span asp-validation-for="JobDescription" class="text-danger"></span>
                            </div>
                            <div class="mb-3 col-md-12">
                                <label asp-for="JobTime" class="form-label">Time</label>
                                <input asp-for="JobTime" class="form-control">
                                <span asp-validation-for="JobTime" class="text-danger"></span>
                            </div>
                            <div class="mb-3 col-md-12">
                                <label asp-for="Experience" class="form-label">Experience</label>
                                <input asp-for="Experience" class="form-control">
                                <span asp-validation-for="Experience" class="text-danger"></span>
                            </div>
                            <h3>Job Requirements</h3>
                           
                             @if (Model != null)
                             {
                                 @for (int i = 0; i < Model.JobRequirementList.Count; i++)
                                 {
                             
                                     <input class="form-control" type="text" name="JobRequirementList[@i].Name" value="@Model.JobRequirementList[i].Name" />
                                     <button class="btn btn-danger" type="button" onclick="removeRequirement(@i)">Remove</button>
                             
                                 }
                             }
                            <div id="requirements-container"></div>
                            
                        </div>
                        <button style="margin-top:15px;margin-right:5px;" class="btn btn-default" type="button" onclick="addRequirement()">Add Requirement</button>
                        <button style="margin-top:15px;" type="submit" class="btn btn-default">Update</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
