@using ECommerceDemo.ViewModels;
@{
    var isTrue = ViewBag.Success;
}
@model MainShopVM
<!-- Shop Products Section Start -->
<div class="section section-padding pt-0">

    <!-- Shop Toolbar Start -->
    <div class="shop-toolbar section-fluid border-bottom">
        <div class="container">
            <div style="float:right;" class="row learts-mb-n20">
                <div class="col-md-auto col-12 learts-mb-20">
                    <ul class="shop-toolbar-controls">
                        <li>
                            <div class="product-column-toggle d-none d-xl-flex">
                                <button class="toggle active hintT-top" data-hint="5 Column" data-column="5"><i class="ti-layout-grid4-alt"></i></button>
                                <button class="toggle hintT-top" data-hint="4 Column" data-column="4"><i class="ti-layout-grid3-alt"></i></button>
                                <button class="toggle hintT-top" data-hint="3 Column" data-column="3"><i class="ti-layout-grid2-alt"></i></button>
                            </div>
                        </li>
                        
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- Shop Toolbar End -->
   
    <div class="section section-fluid learts-mt-70">
        <div class="container">
            <!-- Products Start -->
            <div id="shop-products" class="products isotope-grid row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">

                <div class="grid-sizer col-1"></div>
                @foreach (var item in Model.Shops)
                {
                    <div class="grid-item col new">
                        <div class="product">              
                            <div class="product-thumb">
                                <a style="display:flex;justify-content:center;" href="product-details.html" class="image">
                                    <img style="height:300px;width:225px;object-fit:cover;" src="~/uploads/@item.Image" alt="Product Image">
                                    <img style="height:300px;width:225px;object-fit:cover;"  class="image-hover" src="~/uploads/@item.Image" alt="Product Image">
                                </a>
                            </div>
                            <div class="product-info">
                                <h6 class="title"><a href="product-details.html">@item.Name</a></h6>
                                <span class="price">
                                    $@item.Price
                                </span>
                                <div class="product-buttons">

                                    <button style="background: #333333;color: #fff;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;" type="button" href="/Identity/Unauthorized/Identity" class="product-button hintT-top" data-hint="Add to Cart">
                                        <i class="fal fa-shopping-cart"></i>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                }

            </div>
            <!-- Products End -->
            <div class="text-center learts-mt-70">
                <a href="#" class="btn btn-dark btn-outline-hover-dark"><i class="ti-plus"></i> More</a>
            </div>
        </div>
    </div>

</div>


